!!!
%html{id: "#{params[:controller]}-#{params[:action]}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title ChatApp
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = javascript_pack_tag 'application'
  %body
    #header
      .container
        CHAT APP
    .container
      #main
        .wrapper
          .container
            = yield
          .push
    #footer
      Chat App @
      = Date.current.year
      by dodo121
