!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatApp
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body{id: "#{params[:controller]}-#{params[:action]}"}
    #header
      .container
        CHAT APP
    #main
      .container
        = yield
    #footer
      #footer-text
        Chat App @ 2016 by dodo121